* {
	margin: 0px;
	padding: 0px;
	font-family: Cambria;
}

#side-panel {
	width: 12%;
	height: auto;
	float: left;
	padding: 20px;
	margin: 0px 0px 0px 0px;
	border-right: 1px solid black;
	background-color: #fefefe;
}

#center-panel {
	width: 80%;
	height: 100%;
	margin: 0px;
	float: right;
	padding: 15px;
}

#header-panel {
	width: 100%;
	margin: 0px;
	float: top;
	padding: 25px;
	border-bottom: 1px solid black;
	background-color: #f0fefe;
}

#footer-panel {
	float: bottom;
	margin: 0px;
	padding-top: 15px;
	clear: both;
	border-top: 1px solid black;
	text-align: center;
	
}

#login-panel {
	padding: 15px;
	text-align: center;
}

.center-text {
	text-align: center;
}

h2.top-text {
	border-bottom: 1px solid black;
	margin-bottom: 10px;
}

.itemize {
	padding-bottom: 10px;
}

.input-group {
	padding: 5px;
}

.indent {
	padding-left:25px;
}